services:
  # ===============================
  # EUREKA SERVER
  # ===============================
  eureka-register:
    build: ./eureka-register2/eureka-register
    restart: on-failure
    ports:
      - "8763:8763"
    networks:
      - hospital-network

  # ===============================
  # API GATEWAY
  # ===============================
  api-gateway:
    build: ./apiGateWay2/apiGateWay2
    restart: on-failure
    ports:
      - "8762:8762"
    depends_on:
      - eureka-register
    environment:
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-register:8763/eureka/
    networks:
      - hospital-network

  # ===============================
  # PATIENT SERVICE
  # ===============================
  patient-service:
    build: ./patient-service
    restart: on-failure
    depends_on:
      - eureka-register
      - mysql-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/patientdb?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-register:8763/eureka/
    networks:
      - hospital-network

  # ===============================
  # MEDECIN SERVICE
  # ===============================
  medecin-service:
    build: ./medecin-service
    restart: on-failure
    depends_on:
      - eureka-register
      - mysql-db
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/medecindb?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-register:8763/eureka/
    networks:
      - hospital-network

  # ===============================
  # RENDEZ-VOUS SERVICE
  # ===============================
  rendez-vous-service:
    build: ./rendez_vous-service
    restart: on-failure
    ports:
      - "8090:8090"
    depends_on:
      - eureka-register
      - mysql-db
      - patient-service
      - medecin-service
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql-db:3306/rdv_db?createDatabaseIfNotExist=true
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: password
      EUREKA_CLIENT_SERVICEURL_DEFAULTZONE: http://eureka-register:8763/eureka/
    networks:
      - hospital-network

  # ===============================
  # MYSQL DATABASE
  # ===============================
  mysql-db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3310:3306"
    networks:
      - hospital-network

networks:
  hospital-network:
    driver: bridge
